/* Texto estilo libro en páginas 2, 3 y 4 */
.texto-superpuesto {
  position: absolute;
  z-index: 2;
  top: 15%;        /* arriba, estilo párrafo */
  left: 10%;
  right: 10%;
  color: black;
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;   /* estilo libro */
  font-family: 'Baloo 2', sans-serif;
}

/* FRASE FINAL EN PÁGINA 5 */
.frase-central {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 80%;
}

.enfasis {
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
  font-family: 'Baloo 2', sans-serif;
}
