* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6e6e6;
  font-family: 'Gelasio', serif;
  overflow: hidden;
}

/* ACTIVAR AUDIO */
#activar {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.mensaje {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

/* LIBRO */
#book {
  margin: auto;
  width: 100%;
  max-width: 900px;
  height: 550px;
}

/* PÁGINAS */
.page {
  position: relative;
  width: 100%;
  height: 100%;
  background: white;
  overflow: hidden;
}

.page img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

/* PORTADA */
.portada img {
  object-fit: cover;
}

/* FRASE CENTRAL EN GRANDE */
.frase-central {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  color: black;
  text-align: center;
  padding: 20px;
  max-width: 80%;
}

/* IMAGEN SUPERPUESTA */
.imagen-superpuesta {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  right: 20px;
  width: 150px; /* tamaño ajustado */
  height: auto;
}
