/* Texto centrado en páginas 2, 3 y 4 */
.texto-superpuesto {
  position: absolute;
  z-index: 2;
  top: 50%;                
  left: 50%;               
  transform: translate(-50%, -50%); 
  color: black;
  font-size: 18px;
  line-height: 1.6;
  text-align: center;       /* centrado */
  font-family: 'Baloo 2', sans-serif;
  max-width: 80%;           
}

/* FRASE FINAL EN PÁGINA 5 */
.frase-central {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  max-width: 80%;
}

.enfasis {
  font-size: 36px;
  font-weight: bold;
  color: #2c3e50;
  font-family: 'Baloo 2', sans-serif;
}

/* Sticker en página 6 */
.imagen-superpuesta {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60%;
}
