* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e6e6e6;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* ACTIVAR AUDIO */
#activar {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.mensaje {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

/* LIBRO */
#book {
  margin: auto;
  width: 100%;
  max-width: 900px; /* tamaño máximo en PC */
  height: 550px;    /* altura fija en PC */
}

/* PÁGINAS */
.page {
  width: 100%;
  height: 100%;
  background: black; /* cambia a blanco si prefieres */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* IMÁGENES EN PÁGINAS */
.page img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* muestra la imagen completa */
}

/* PORTADA */
.portada img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* portada llena toda la hoja */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  #book {
    width: 95%;
    height: 90vh; /* ocupa el 90% de la altura de la pantalla del móvil */
  }
}
