body {
  margin: 0;
  background: #e6e6e6;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* ACTIVADOR AUDIO */
#activar {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.mensaje {
  color: white;
  font-size: 20px;
}

/* LIBRO */
#book {
  width: 320px;
  height: 480px;
  margin: 80px auto 0;
}

.page {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}

.portada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
