/* ===== RESET BÁSICO ===== */
* {
  box-sizing: border-box;
}

/* ===== CUERPO ===== */
body {
  margin: 0;
  background: #e6e6e6;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* ===== CAPA ACTIVAR AUDIO ===== */
#activar {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.mensaje {
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}

/* ===== LIBRO ===== */
#book {
  margin: 80px auto 0;
}

/* ===== PÁGINAS ===== */
.page {
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  text-align: center;
  padding: 20px;
}

/* ===== PORTADA ===== */
.portada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
