body {
  margin: 0;
  height: 100vh;
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
}

/* Zona invisible que cubre toda la pantalla */
#activar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/* Mensaje */
.mensaje {
  position: fixed;
  bottom: 20px;
  width: 100%;
  text-align: center;
  opacity: 0.8;
  z-index: 5;
}
